#dataPanel
{
    -fx-background-color: #2f2f2f
}

#controlsPanel
{
    -fx-background-color: #515151;
}

.button {
    -fx-background-radius: 10;
    -fx-background-color: #797979, #464646;
    -fx-text-fill: white
}
.button:hover {
    -fx-background-radius: 10;
    -fx-background-color: #797979, #404040;
    -fx-text-fill: #b5b5b5
}

.list-view
{
    -fx-background-radius: 6;
    -fx-background-color: #797979, #393939;
    -fx-text-fill: #b5b5b5
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #303030;
    -fx-text-fill: #b5b5b5;
}

.list-cell:even{
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #b5b5b5;
}
.list-cell:odd{
    -fx-background-color: #464646;
    -fx-text-fill: #b5b5b5;
}

.list-cell:filled:hover {
    -fx-background-color: #505050;
    -fx-text-fill: #b5b5b5;
}

.text-field{
    -fx-background-radius: 6;
    -fx-background-color: #797979, #393939;
    -fx-text-fill: #b5b5b5
}

.label
{
    -fx-text-fill: white
}