#boxWithContent
{
    -fx-background-color: #2f2f2f
}

#boxWithButtons
{
    -fx-background-color: #515151;
}

.button {
    -fx-background-radius: 10;
    -fx-background-color: #797979, #464646;
    -fx-text-fill: white
}
.button:hover {
    -fx-background-radius: 10;
    -fx-background-color: #797979, #404040;
    -fx-text-fill: #b5b5b5
}

.list-view
{
    -fx-background-radius: 6;
    -fx-background-color: #797979, #393939;
    -fx-text-fill: #b5b5b5
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #303030;
    -fx-text-fill: #b5b5b5;
}

.list-cell:even{
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #b5b5b5;
}
.list-cell:odd{
    -fx-background-color: #464646;
    -fx-text-fill: #b5b5b5;
}

.list-cell:filled:hover {
    -fx-background-color: #505050;
    -fx-text-fill: #b5b5b5;
}

.text-field{
    -fx-background-radius: 6;
    -fx-background-color: #797979, #393939;
    -fx-text-fill: #b5b5b5
}

.label
{
    -fx-text-fill: white
}

.table-view {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #b5b5b5;
}

table-view .filler {
    -fx-background-color: #303030;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #3c3c3c, #303030);
    -fx-text-fill: #b5b5b5;
}

.table-view .column-header-background
{
    -fx-background-color: #303030;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-text-fill: #b5b5b5;
}

.table-row-cell:even{
    -fx-background-color: #3c3c3c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: #b5b5b5;
}

.table-row-cell:odd{
    -fx-background-color: #464646;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: #b5b5b5;
}

.table-row-cell:filled:hover {
    -fx-background-color: #505050;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: #b5b5b5;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-fill: #505050;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #505050;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color: #505050;
}

.table-view .column-header .label{
    -fx-text-fill: #b5b5b5;
}

.combo-box
{
    -fx-background-radius: 6;
    -fx-background-color: #797979, #393939;
    -fx-text-fill: #b5b5b5
}

.combo-box-base .cell
{
    -fx-background-color: transparent;
    -fx-text-fill: #b5b5b5
}

.combo-box-popup .list-view
{
    -fx-background-color: #717171, #393939;
    -fx-background-radius: 6;
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    -fx-background-color: #393939;
    -fx-text-fill: #b5b5b5;
}